<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>CD6FDEC3-0983-4745-ADD3-A8B808AAC9D1</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>api</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Dash</string>
			<key>url</key>
			<string>dash://{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
