<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>Animal Crossing</string>
	<key>connections</key>
	<dict>
		<key>64A598B8-E282-42FD-B616-E28AA150315C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A1EED67-5859-471E-B7F5-F3E98015D84A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>goronfreeman</string>
	<key>description</key>
	<string>Get Animal Crossing villager info</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Animal Crossing</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8A1EED67-5859-471E-B7F5-F3E98015D84A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ac</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading results...</string>
				<key>script</key>
				<string>ruby 'villagers.rb' {query}</string>
				<key>subtext</key>
				<string>Enter villager name</string>
				<key>title</key>
				<string>Get Animal Crossing villager info</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>64A598B8-E282-42FD-B616-E28AA150315C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>To invoke alfred-animal-crossing, simply type ac followed by the villager you would like more information about. The workflow will then display a list of all the available information for that villager, which you can then action by pressing enter to get taken to the Animal Crossing wiki for even more detail.

alfred-animal-crossing also allows you to filter by each piece of information per villager. If you enter ac alfonso s, alfred-animal-crossing will return species, star sign, skill, style, favorite song. You can filter for any piece of information. The available filters are:

gender
personality
species
birthday
sign (Star sign)
phrase (Initial phrase)
clothes (Initial clothes)
skill
goal
coffee
style
song (Favorite song)
appearances
names (Regional names)

As you can see, some filters have shortened names (e.g. Star sign --&gt; sign) to reduce typing. You can even press tab to autocomplete entries as you type. Some villagers from older games may not have all the information available, so only the relevant results will be returned.

Icon made by Freepik from www.flaticon.com</string>
	<key>uidata</key>
	<dict>
		<key>64A598B8-E282-42FD-B616-E28AA150315C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8A1EED67-5859-471E-B7F5-F3E98015D84A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/goronfreeman/alfred-animal-crossing</string>
</dict>
</plist>
