<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>backgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg/Pycj+D9/Z2P4P39nY/g83MTD+G
		</data>
		<key>borderColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg+/ubj+D7+5uP4Pv7m4/g83MTD6G
		</data>
		<key>dividerLineColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg8C/Pz+DwL8/P4PAvz8/g83MzD6G
		</data>
		<key>imagePrefix</key>
		<string>light</string>
		<key>name</key>
		<string>Elegant</string>
		<key>resultShortcutColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg/n4+D6Dk5ISP4O4tzc/AYY=
		</data>
		<key>resultSubtextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg6emJj+Dp6YmP4OnpiY/g83MTD+G
		</data>
		<key>resultTextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg5mYmD6DmZiYPoOZmJg+g83MTD+G
		</data>
		<key>scrollbarColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg7SzMz+DtLMzP4O0szM/g83MzD6G
		</data>
		<key>searchFieldBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg/Pycj+D9vV1P4P29XU/g5qZWT+G
		</data>
		<key>searchFieldTextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg83MTD6DzcxMPoPNzEw+AYY=
		</data>
		<key>selectedResultBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg4+Ojj6DpqUlPwGDZmZmP4Y=
		</data>
		<key>selectedResultForeground</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmAQEBAYY=
		</data>
		<key>selectedResultShortcutColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmAQEBAYY=
		</data>
		<key>selectedSubtextForeground</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg9rZWT+D2tlZP4Pa2Vk/AYY=
		</data>
		<key>uid</key>
		<string>alfred.theme.custom.ED750C8F-CA06-443C-B6AE-A84F3A623461-13219-0000130228D1660D</string>
	</dict>
	<dict>
		<key>backgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg/Pycj+D9/Z2P4P39nY/g83MTD+G
		</data>
		<key>borderColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg+/ubj+D7+5uP4Pv7m4/g83MTD6G
		</data>
		<key>dividerLineColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg8C/Pz+DwL8/P4PAvz8/g83MzD6G
		</data>
		<key>imagePrefix</key>
		<string>light</string>
		<key>name</key>
		<string>Elegant Graphite</string>
		<key>resultShortcutColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg/n4+D6Dk5ISP4O4tzc/AYY=
		</data>
		<key>resultSubtextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg6emJj+Dp6YmP4OnpiY/g83MTD+G
		</data>
		<key>resultTextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg5mYmD6DmZiYPoOZmJg+g83MTD+G
		</data>
		<key>scrollbarColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg7SzMz+DtLMzP4O0szM/g83MzD6G
		</data>
		<key>searchFieldBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg/Pycj+D9vV1P4P29XU/g5qZWT+G
		</data>
		<key>searchFieldTextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg83MTD6DzcxMPoPNzEw+AYY=
		</data>
		<key>selectedResultBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmg5qZGT+DmpkZP4OamRk/AYY=
		</data>
		<key>selectedResultForeground</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmAQEBAYY=
		</data>
		<key>selectedResultShortcutColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmAQEBAYY=
		</data>
		<key>selectedSubtextForeground</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg9rZWT+D2tlZP4Pa2Vk/AYY=
		</data>
		<key>uid</key>
		<string>alfred.theme.custom.31EB92A2-FE37-4872-89BA-DE050234F3D5-310-000000A196CA29AD</string>
	</dict>
	<dict>
		<key>backgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg/Pycj+D9/Z2P4P39nY/g83MTD+G
		</data>
		<key>borderColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg+/ubj+D7+5uP4Pv7m4/g83MTD6G
		</data>
		<key>dividerLineColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg8C/Pz+DwL8/P4PAvz8/g83MzD6G
		</data>
		<key>imagePrefix</key>
		<string>light</string>
		<key>name</key>
		<string>Elegant Graphite</string>
		<key>resultShortcutColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg/n4+D6Dk5ISP4O4tzc/AYY=
		</data>
		<key>resultSubtextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg6emJj+Dp6YmP4OnpiY/g83MTD+G
		</data>
		<key>resultTextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg5mYmD6DmZiYPoOZmJg+g83MTD+G
		</data>
		<key>scrollbarColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg7SzMz+DtLMzP4O0szM/g83MzD6G
		</data>
		<key>searchFieldBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg/Pycj+D9vV1P4P29XU/g5qZWT+G
		</data>
		<key>searchFieldTextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg83MTD6DzcxMPoPNzEw+AYY=
		</data>
		<key>selectedResultBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg6uqKj+Dq6oqP4Orqio/AYY=
		</data>
		<key>selectedResultForeground</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmAQEBAYY=
		</data>
		<key>selectedResultShortcutColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmAQEBAYY=
		</data>
		<key>selectedSubtextForeground</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg9rZWT+D2tlZP4Pa2Vk/AYY=
		</data>
		<key>uid</key>
		<string>alfred.theme.custom.BA142EE9-1D3E-4AF1-95EA-76CA2E54D7C8-194-00000157951084CD</string>
	</dict>
	<dict>
		<key>backgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg/Pycj+D9/Z2P4P39nY/g83MTD+G
		</data>
		<key>borderColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg+/ubj+D7+5uP4Pv7m4/g83MTD6G
		</data>
		<key>dividerLineColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg8C/Pz+DwL8/P4PAvz8/g83MzD6G
		</data>
		<key>imagePrefix</key>
		<string>light</string>
		<key>name</key>
		<string>Elegant Graphite</string>
		<key>resultShortcutColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg/n4+D6Dk5ISP4O4tzc/AYY=
		</data>
		<key>resultSubtextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg6emJj+Dp6YmP4OnpiY/g83MTD+G
		</data>
		<key>resultTextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg5mYmD6DmZiYPoOZmJg+g83MTD+G
		</data>
		<key>scrollbarColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg7SzMz+DtLMzP4O0szM/g83MzD6G
		</data>
		<key>searchFieldBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg/Pycj+D9vV1P4P29XU/g5qZWT+G
		</data>
		<key>searchFieldTextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg83MTD6DzcxMPoPNzEw+AYY=
		</data>
		<key>selectedResultBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg6uqKj+Dq6oqP4Orqio/AYY=
		</data>
		<key>selectedResultForeground</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmAQEBAYY=
		</data>
		<key>selectedResultShortcutColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmAQEBAYY=
		</data>
		<key>selectedSubtextForeground</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg9rZWT+D2tlZP4Pa2Vk/AYY=
		</data>
		<key>uid</key>
		<string>alfred.theme.custom.243693C6-75BD-40B3-9410-BB109EFBCEF7-792-00000149ECBFCDDF</string>
	</dict>
</array>
</plist>
